Package: cdmi-s3-qos
Version: @SERVICE_VERSION@
Section: web
Priority: optional
Architecture: all
Maintainer: INDIGO DataCloud
Depends: java8-runtime, redis-server
Description: SNIA CDMI server reference implementation with QoS module for RADOS S3 gateway.
 .
 Standalone Spring Boot application version.
 .
