Package: cdmi-s3-qos
Version: @MODULE_VERSION@
Section: web
Priority: optional
Architecture: all
Maintainer: INDIGO DataCloud
#Depends: java8-runtime, redis-server
Depends: java8-runtime
Description: Module for INDIGO CDMI server. The module integrates RADOS GW S3 with the CDMI server.
 .
 Module which can be used by INDIGO CDMI server to integrate RADOS GW S3 with QoS facilities provided by CDMI server.
 .

 