[Unit]
Description=cdmi-s3-qos
After=syslog.target
Requires=redis-server.service

[Service]
User=cdmi
ExecStartPre=chdir /var/lib/cdmi-s3-qos
ExecStart=/var/lib/cdmi-s3-qos/cdmi-s3-qos-@SERVICE_VERSION@.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
